.mac-container {
  font-family: Verdana;
  font-size: 11px;
  cursor: text;
}

.mac-selections {
  border: 1px solid #ABADB2;
  display: block;
  width: 300px;
  padding: 0;
  margin: 0;
  position: relative;
}

.mac-selections.loading {
  background: url(./images/indicator.gif) no-repeat right white;
}

.mac-selection, .mac-search {
  margin: 2px;
  position: relative;
  float: left;
  min-height: 0 !important;
}

.mac-selection {
  background-color: whiteSmoke;
  border: 1px solid #ABADB2;
  padding: 1px 1px 1px 3px;
  color: #3F3F3F;
  cursor: default;
}

.mac-search {
  list-style-type:none;
  display: inline;
}

.mac-input, .mac-input:focus {
  border: none !important;
  background: transparent !important;
  outline: none;
  width: 25px;
}

.mac-delete-selection {
  width: 15px;
  height: 15px;
  float: right;
  background: url(./images/icon_delete_grey.png) top no-repeat;
  margin-left: 2px;
}

.mac-delete-selection:hover, .mac-delete-selection.active {
  background: url(./images/icon_delete_grey.png) bottom no-repeat;
}
